@media (min-width: 769px) and (max-width: 992px) {
    .banner {
        width: 75%;
        top: 25%;
        left: 10%;
        right: 10%;
    }
    .banner h1 {
        font-size: 325%;
        margin: 5% 2.5% 0;
    }
    .banner p {
        font-size: 170%;
        margin: 5% 2.5% 0;
    }
    .banner .saiba-mais {
        min-width: 240px;
        padding: 1rem 0;
        margin: 5% 2.5% 0;
    }
    /*=================================
    FORMATAÇÃO DO MENU DE NAVEGAÇÃO
    ===================================*/
    .hamburguer {
        top: 10%;
        right: 6%;
    }
    .menu {
        top: 50%;
    }
    /*=================================
    FORMATAÇÃO DA SESSAO-CONHECIMENTOS
    ===================================*/

    .conhecimentos {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(auto-fit, minmax(4rem, 1fr));
        row-gap: 2rem;
    }

    .conhecimentos:last-child {
        padding-bottom: 3%;
    }
    .habilidade:nth-child(1) {
        grid-row: 3/5;
        grid-column: 3/7;
    }
    .habilidade:nth-child(2) {
        grid-row: 3/5;
        grid-column: 7/11;
    }
    .habilidade:nth-child(3) {
        grid-row: 5/7;
        grid-column: 3/7;
    }
    .habilidade:nth-child(4) {
        grid-row: 5/7;
        grid-column: 7/11;
    }
    .habilidade:nth-child(5) {
        grid-row: 7/9;
        grid-column: 3/7;
    }
    .habilidade:nth-child(6) {
        grid-row: 7/9;
        grid-column: 7/11;
    }
    /*- Formatação interna habilidades -*/
    .habilidades-img-wrapper {
        display: none;
    }
     .habilidade-header i {
        font-size: 2rem;
        margin-top: 3%;
    }
    .habilidade-header h3 {
        font-size: 2rem;
        margin-top: 4%;
    }
    .habilidade-text {
        padding: 5%;
        font-size: 1rem;
        line-height: 1.2rem;
        padding-bottom: 1rem;
    }

    /*=================================
        FORMATAÇÃO DA SESSÃO PROJETOS
    ===================================*/
    
    .projetos {
        display: flex;
        height: auto;
        padding: 2%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .card {
        width: 30%;
        height: 25rem;
    }

    .card-info {
        padding: 10%;
    }

    /*=================================
        FORMATAÇÃO DA SESSAO-CONTATO
    ===================================*/

    .contato-wrapper {
        width: 80%;
    }
    .contato-esq {
        width: 35%;
        border-radius: 0.5rem 0rem 0rem 0.5rem;
    }
    .contato-dir {
        border-radius: 0rem 0.5rem 0.5rem 0rem;
        width: 65%;
        padding: 0 3%;
    }
    .sessao-contato h1 {
        font-size: 250%;
    }
    .grupo-input {
        width: 92%;
    }

    .grupo-input textarea {
        max-width: 100%;
    }

    .campo {
        /* tamanho dos campos de texto */
        width: 100%;
    }
    .campo-label {
        font-size: 1.1rem;
    }
    /* quando o campo está em focus */
    .campo:focus~label {
        font-size: 1rem;
    }
    .grupo-input:last-of-type>.erro.active {
        top: 4.8rem;
    }

    /*=================================
        FORMATAÇÃO DA SESSAO-ORCAMENTO
    ===================================*/

    .sessao-orcamento {
        padding: 10% 0 6.5%;
    }

    .orcamento-wrapper {
        width: 80%;
        height: 100%;
    }

    .sessao-orcamento h1 {
        font-size: 250%;
        top: -6.5%;
        width: 90%;
        left: 5%;
        padding: 1% 0;
        text-align: center;
    }

    .sessao-orcamento form {
        grid-template-rows: auto 1fr;
        grid-template-columns: repeat(autofit, minmax(2rem, 1fr));
        row-gap: 0.6rem;
        margin: 0;
        padding: 13% 5% 0;
        column-gap: 0.5rem;
    }

    .sessao-orcamento label {
        font-size: 1.3rem;
        padding: 3% 0;
    }

    .sessao-orcamento input[type="number"] {
        font-size: 1.5rem;
        align-items: center;
        height: 2rem;
    }

    .sessao-orcamento input[type="checkbox"] {
        margin-top: 0.7rem;
    }

    .sessao-orcamento #prazo {
        grid-column: 1/-1;
    }

    .btn-orcamento {
        grid-column: 1/-1;
        margin-top: 1%;
    }

    /*=================================
        FORMATAÇÃO DO FOOTER
    ===================================*/
    .footer-content {
        width: 75%;
        padding: 1rem;
    }

    .footer-content p {
        font-size: 1.1rem; 
    }
    .social-list {
        justify-content: space-evenly;
    }

    .social-list a {
        margin: 0 1.5rem;
    }

    /*===============================
        FORMATAÇÃO DO BOTÃO LINK-TOPO
    ===============================*/
    #link-topo {
        width: 2rem;
        height: 2rem;
        bottom: 8%;
        right: 6%;
        padding: 1%;
    }

    i.fas, .fa-arrow-up {
        /*- melhoria implementada na setinha -*/
        font-size: 1.1rem;
    }

    /*===============================
            FORMATAÇÃO DA MODAL
    ===============================*/
    .modal {
        width: 80%;
        border: 5px solid #6a3093;
        box-shadow: 0 0 0 8px #fff;
    }
    .img-modal {
        display: flex;
    }
    .content-modal {
        width: 100%;
        justify-content: space-evenly;
    }
    .content-modal h2 {
        font-size: 150%;
        margin: 0;
    }
    .content-modal p {
        font-size: 1rem;
        line-height: 1.1rem;
        width: 92%;
    }
    .content-modal .btn-modal {
        width: 80%;
        font-size: 1rem;
        margin: 5% 0;
    }  
}   